.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1, p {
  text-align: center;
  color: #bfbfbf;
}

html {
  background-color: #151515;
}

button {
  color: white !important;
}

a {
  color: #dd9323;
}

a:hover {
  color: #dd9323;
  text-decoration: underline;
}

.title, .appTitle, .subtitle, .appDescription {
  color: #bfbfbf;
}